<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
</head>
<body style="background-color: rgba(0,0,0,0.05)">
<!-- 头部 -->
<nav class="diy-shadow" style="background-color: white">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>回到首页</a>
            <a href="#" th:href="@{/admin/blogs}" class="active flag item diy-mobile"><i class="home icon"></i>博客编辑</a>
            <a href="#" th:href="@{/admin/types}" class="flag item diy-mobile"><i class="map signs icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/tags}" class="flag item diy-mobile"><i class="tags icon"></i>标签管理</a>
            <a href="#" th:href="@{/admin/leavingmessage}" class="flag item diy-mobile"><i class="envelope icon"></i>留言管理</a>
            <div class="right flag diy-mobile menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                             class="ui avatar image">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/userinfoModify/{id}(id=${session.user.id})}" class="item">修改个人资料</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>

<!-- 二级导航菜单 -->
<!--<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="active blue item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="item blue">列表</a>
        </div>
    </div>
</div>-->

<!-- 中间 -->
<div class="diy-padding-big" style="max-width: 150em !important;">
    <div class="ui container">
        <!--&lt;!&ndash; 动态提交刷新数据 &ndash;&gt;
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                &lt;!&ndash; 标题 &ndash;&gt;
                <div class="field">
                    <input type="text" name="title" placeholder="标题" />
                </div>
                &lt;!&ndash; 分类 &ndash;&gt;
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId" />
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}"></div>
                            </div>
                        </div>
                        <button class="ui button blue basic pa" id="clear"><i class="eraser icon"></i>清空</button>
                    </div>
                </div>
                &lt;!&ndash; 推荐 &ndash;&gt;
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend" />
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                &lt;!&ndash; 搜索 &ndash;&gt;
                <div class="field">
                    <button type="button" id="search-btn" class="ui blue basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </div>-->

        <div id="table-container">
            <!-- 表格 -->
            <table class="ui table compact blue" th:fragment="blogList">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>博客状态</th>
                    <th>发布时间</th>
                    <th>更新时间</th>
                    <th>浏览量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail,iterStat : ${page}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${detail.title}"></td>
                    <td th:text="${detail.name}">Java</td>
                    <td th:text="${detail.recommend} ? '是' : '否'"></td>
                    <td th:text="${detail.published} ? '已发布' : '草稿'"></td>
                    <td th:text="${#dates.format(detail.createTime,'yyyy:MM:dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(detail.updateTime,'yyyy:MM:dd HH:mm:ss')}"></td>
                    <td th:text="${detail.views}"></td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${detail.id})}" class="ui blue basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${detail.id})}" class="ui red basic button"
                           onclick="javascript:return del();">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="9">
                        <!--<div class="ui pagination mini menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">下一页</a>
                        </div>-->
                        <a href="#" th:href="@{/admin/blogs/input}" class="ui right floated blue basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
            <!--消息提示-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <div class="header">提示:</div>
                <p th:text="${message}">操作成功</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // 删除确认
    function del() {
        if (confirm('确定要删除？')) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
