<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>全站博客编辑</title>
    <link rel="stylesheet" href="../static/lib/Semantic-UI-CSS-master/semantic.css" th:href="@{/lib/Semantic-UI-CSS-master/semantic.css}">
    <link rel="stylesheet" href="../../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
</head>
<body style="background-color: rgba(0,0,0,0.05)">
<!-- 头部 -->
<nav class="diy-shadow diy-menu">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>回到首页</a>
            <a href="#" th:href="@{/admin/blogs}" class="flag item diy-mobile"><i class="edit icon"></i>博客编辑</a>
            <a href="#" th:href="@{/admin/blogComments}" class="flag item diy-mobile"><i class="comment icon"></i>评论管理</a>
            <a href="#" th:href="@{/admin/allBlogs}" th:if="${session.user.type == 2}" class="active flag item diy-mobile"><i class="server icon"></i>全站博客编辑</a>
            <a href="#" th:href="@{/admin/types}" th:if="${session.user.type == 2}" class="flag item diy-mobile"><i class="map signs icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/tags}" th:if="${session.user.type == 2}" class="flag item diy-mobile"><i class="tags icon"></i>标签管理</a>
            <a href="#" th:href="@{/admin/leavingmessage}" th:if="${session.user.type == 2}" class="flag item diy-mobile"><i class="envelope icon"></i>留言管理</a>
            <div class="right flag diy-mobile menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                             class="ui avatar image">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/userinfoModify/{id}(id=${session.user.id})}" class="item">修改个人资料</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>
<!-- 中间 -->
<div class="diy-padding-very" style="max-width: 150em !important;">
    <div class="ui container">
        <div id="table-container">
            <!-- 表格 -->
            <table class="ui table compact blue" th:fragment="blogList">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>发布时间</th>
                    <th>更新时间</th>
                    <th>作者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail,iterStat : ${allBlogs}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${detail.title}"></td>
                    <td th:text="${detail.type.name}">Java</td>
                    <td th:text="${#dates.format(detail.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(detail.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${detail.user.nickname}"></td>
                    <td th:text="${detail.published} ? '已发布' : '草稿'"></td>
                    <td>
                        <a href="#" th:href="@{/admin/allBlogs/{id}/modifyState(id=${detail.id})}" class="ui yellow basic button">下架</a>
                        <a href="#" th:href="@{/admin/allBlogs/{id}/delete(id=${detail.id})}" class="ui red basic button"
                           onclick="javascript:return del();">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--消息提示-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <div class="header">提示:</div>
                <p th:text="${message}">操作成功</p>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery-3.6.1.min.js" th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script src="../static/lib/Semantic-UI-CSS-master/semantic.js" th:src="@{/lib/Semantic-UI-CSS-master/semantic.js}"></script>
<script>
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // 删除确认
    function del() {
        if (confirm('确定要删除？')) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
