<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>留言管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
</head>
<body style="background-color: rgba(0,0,0,0.05)">
<!-- 头部 -->
<nav class="diy-shadow diy-menu">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>回到首页</a>
            <a href="#" th:href="@{/admin/blogs}" class="flag item diy-mobile"><i class="home icon"></i>博客编辑</a>
            <a href="#" th:href="@{/admin/types}" class="flag item diy-mobile"><i class="map signs icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/tags}" class="flag item diy-mobile"><i class="tags icon"></i>标签管理</a>
            <a href="#" th:href="@{/admin/leavingmessage}" class="active flag item diy-mobile"><i
                    class="envelope icon"></i>留言管理</a>
            <div class="right flag diy-mobile menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                             class="ui avatar image">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/userinfoModify/{id}(id=${session.user.id})}" class="item">修改个人资料</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>

<!-- 中间 -->
<div class="diy-padding-very diy-container">
    <!-- 最新留言 -->
    <div class="ui segments">
        <!-- 标题栏 -->
        <div class="ui secondary segment center aligned">
            <div class="column">
                <i class="edit outline icon"></i>留言内容
            </div>
        </div>
    </div>
    <!-- 主体 -->
    <div class="ui blue segment">
        <div class="ui comment">
            <div class="ui fluid vertical segment content  center aligned ">
                <div class="text">
                    <span th:text="${leavingmessage.message}">233333333333333333</span>
                </div>
                <div class="ui right aligned container">
                    <button type="button" class="ui button blue" onclick="window.history.go(-1)">返回</button>
                    <a th:href="@{/admin/leavingmessage/{id}/delete(id=${leavingmessage.id})}" class="ui red button"
                       onclick="javascript:return del();">删除</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    // 删除确认
    function del() {
        if (confirm('确定要删除？')) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>