<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="../../static/css/nav-left.css" rel="stylesheet" th:href="@{/css/nav-left.css}">
    <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
</head>
<body style="background-color: rgba(0,0,0,0.05)">
<!-- 头部 -->
<nav class="diy-shadow diy-menu">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>回到首页</a>
            <a href="#" th:href="@{/admin/blogs}" class="flag item diy-mobile"><i class="edit icon"></i>博客编辑</a>
            <a href="#" th:href="@{/admin/blogComments}" class="flag item diy-mobile"><i class="comment icon"></i>评论管理</a>
            <a href="#" th:href="@{/admin/allBlogs}" th:if="${session.user.type == 2}" class="flag item diy-mobile"><i class="server icon"></i>全站博客编辑</a>
            <a href="#" th:href="@{/admin/types}" th:if="${session.user.type == 2}" class="flag item diy-mobile"><i class="map signs icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/tags}" th:if="${session.user.type == 2}" class="active flag item diy-mobile"><i class="tags icon"></i>标签管理</a>
            <a href="#" th:href="@{/admin/leavingmessage}" th:if="${session.user.type == 2}" class="flag item diy-mobile"><i
                    class="envelope icon"></i>留言管理</a>
            <div class="right flag diy-mobile menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                             class="ui avatar image">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/userinfoModify/{id}(id=${session.user.id})}" class="item">修改个人资料</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>

<!-- 中间 -->
<div class="diy-padding-very diy-container">
    <div class="ui container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--信息提示-->
        <div class="ui error message" th:unless="${#strings.isEmpty(cfmsg)}">
            <div class="header">提示</div>
            <p th:text="${cfmsg}"></p>
        </div>

        <!-- 表单 -->
        <form action="#" method="post" th:object="${tag}"
              th:action="*{id}==null ? @{/admin/tags-create} : @{/admin/tags-create/{id}(id=*{id})}" class="ui form">

            <!-- 标签 -->
            <div class="field required">
                <div class="ui left labeled input">
                    <label class="ui label">名称</label>
                    <input type="text" name="name" placeholder="标签名称" th:value="*{name}"/>
                </div>
            </div>

            <!-- 错误信息提示 -->
            <div class="ui error message"></div>

            <!-- 提交按钮 -->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui blue button">提交</button>
            </div>

        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript">
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    // 标题非空验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入标签名称'
                }]
            }
        }
    });
</script>
</body>
</html>
