<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>错误页</title>
    <link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="../static/lib/Semantic-UI-CSS-master/semantic.css" th:href="@{/lib/Semantic-UI-CSS-master/semantic.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" href="../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
</head>
<body style="background-color: rgba(0,0,0,0.05)">
<!-- 头部 -->
<nav class="ui attached diy-shadow diy-menu">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="flag item diy-mobile black"><i class="map signs icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="flag item diy-mobile black"><i class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="flag item diy-mobile black"><i class="thumbtack icon"></i>归档</a>
            <a href="#" th:href="@{/leavingmessage}" class="flag item diy-mobile black"><i class="envelope icon"></i>留言</a>
            <a href="#" th:href="@{/about}" class="flag item diy-mobile black"><i class="info icon"></i>统计</a>
            <div class="right flag item diy-mobile">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon input transparent">
                        <input type="text" name="query" placeholder="搜索博客" th:value="${query}"/>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
            <div class="flag diy-mobile menu">
                <a href="#" th:href="@{/admin}" th:if="${session.user == null}"
                   class="flag item diy-mobile ui green basic button"><i class="sign-in icon"></i>登录</a>
                <div class="ui dropdown item" th:if="${session.user != null}">
                    <div class="text">
                        <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                             class="ui avatar image">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/blogs}" class="item">管理博客</a>
                        <a href="#" th:href="@{/user/{id}(id=${session.user.id})}" class="item">个人资料</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="ui error message m-padded-tb-huge">
            <h2>500</h2>
            <p>对不起，服务异常，请联系管理员</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- 底部 -->
<footer class="ui attached diy-shadow" style="background-color: white">
    <div class="ui container">
        <div class="ui grid center aligned">
            <div class="wide column">
                <h4 class="text-fine2 text-opacity2">
                    <a href="https://beian.miit.gov.cn/" target="_blank" class="color-black">鄂ICP备2022014800号-1</a>
                    <br>
                    <span>© 2022 Zm-Mmm All rights reserved.</span><span> Version2.6.8</span>
                </h4>
            </div>
        </div>
    </div>
</footer>
<script src="../static/js/jquery-3.6.1.min.js" th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script src="../static/lib/Semantic-UI-CSS-master/semantic.js" th:src="@{/lib/Semantic-UI-CSS-master/semantic.js}"></script>
<script>
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>