.padding-mini {
	padding: 0.5em !important;
}

.parent-left-style {
	padding-top: 0.8em !important;
	padding-bottom: 0.8em !important;;
}
.cool-background {
	height: 100%;
	width: 100%;
	background: url(../img/cool-background.png);
	background-size: cover;
}

/* 常用边距预设 */
.diy-padding-very {
	padding-top: 5em !important;
	padding-bottom: 5em !important;;
}
.diy-padding-huge {
	padding-top: 4em !important;
	padding-bottom: 4em !important;;
}
.diy-padding-big {
	padding-top: 3em !important;
	padding-bottom: 3em !important;;
}
.diy-padding-large {
	padding-top: 2em !important;
	padding-bottom: 2em !important;;
}
.diy-padding {
	padding-top: 1em !important;
	padding-bottom: 1em !important;;
}
.diy-padding-small {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;;
}

.diy-padding-left-right-big {
	padding-left: 2em !important;
	padding-right: 2em !important;
}

/* 左右内边距 */
.diy-padding-left-right {
	padding-left: 1em !important;
	padding-right: 1em !important;
}

/* 字体颜色 */
.color-black {
	color: black !important;
}
/* 字体粗细 */
.text-fine {
	font-weight: 300 !important;
}
/* 字体粗细2 */
.text-fine2 {
	font-weight: 600 !important;
}
/* 间距 */
.text-spacing {
	letter-spacing: 1px !important;
}
/* 行距 */
.text-row-spacing {
	line-height: 1.8;
}
/* 不透明度 */
.text-opacity {
	opacity: 0.8 !important;
}
.text-opacity2 {
	opacity: 0.5 !important;
}
/* 组合样式 */
.diy-text {
	font-weight: 400 !important;
	letter-spacing: 1px !important;
	line-height: 1.8;
}
/* 下边框阴影 */
.diy-shadow {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3) !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3) !important;
}
/* 自定义导航工具 */
.diy-fixed {
	bottom: 390px !important;
	right: 15px !important;
	position: fixed !important;
	z-index: 1 !important;
}
.diy-fixedTop {
	position: fixed !important;
	z-index: 1 !important;
}


/* 行内样式 */
.inline-block {
	display: inline-block !important;
}
.diy-container {
	max-width: 70em !important;
	margin: 0 auto !important;
}

/* 外边距 */
.diy-margin-small {
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}
.diy-margin-top {
	margin-top: 2em !important;
}
.diy-margin-top-buttom {
	margin-top: 2em !important;
	margin-bottom: 2em !important;
}
.diy-margin-bottom {
	margin-bottom: 1em !important;
}

/* 手机端顶部按钮定位 */
.diy-button-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

/* 电脑端隐藏右侧按钮 */
.diy-button-show {
	display: none !important;
}

/* 手机端 */
@media screen and (max-width: 768px) {
	.diy-mobile {
		display: none !important;
	}
	.diy-button-show {
		display: block !important;
	}
	.diy-mobile-wide {
		width: 100% !important;
	}
	.diy-padding-left-right {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.diy-fixed {
		bottom: 15px !important;
		right: 15px !important;
		position: fixed !important;
		z-index: 1 !important;
	}
}