<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telphone=no, email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" th:content="${blog.type.name}"/>
    <meta name="description" th:content="${blog.description}"/>
    <title th:text="${blog.title}">博客详情</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}"/>
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" href="../static/css/prism.css" th:href="@{/css/prism.css}"/>
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}"/>
    <link rel="stylesheet" href="../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
    <style>
        #live2dcanvas {
            border: 0 !important;
        }
    </style>
</head>
<body class="body-background">
<!-- 头部 -->
<nav class="ui attached diy-shadow diy-menu">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="flag item diy-mobile black"><i class="map signs icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="flag item diy-mobile black"><i class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="flag item diy-mobile black"><i class="thumbtack icon"></i>归档</a>
            <a href="#" th:href="@{/leavingmessage}" class="flag item diy-mobile black"><i class="envelope icon"></i>留言</a>
            <a href="#" th:href="@{/about}" class="flag item diy-mobile black"><i class="info icon"></i>统计</a>
            <div class="right flag item diy-mobile">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon input transparent">
                        <input type="text" name="query" placeholder="搜索博客" th:value="${query}"/>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
            <a href="#" th:href="@{/admin}" th:if="${session.user == null}"
               class="flag item diy-mobile ui green basic button"><i class="sign-in icon"></i>登录</a>
            <div class="ui dropdown item" th:if="${session.user != null}">
                <div class="text">
                    <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                         class="ui avatar image">
                    <span th:text="${session.user.nickname}"></span>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="#" th:href="@{/admin/blogs}" class="item">管理博客</a>
                    <a href="#" th:href="@{/user/{id}(id=${session.user.id})}" class="item">个人资料</a>
                    <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>
<!-- 中间 -->
<div class="diy-padding-very diy-container animated fadeInDown">
    <div class="ui container diy-shadow">
        <!-- 头部 -->
        <div class="ui top attached segment center aligned">

            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt=""
                         class="ui avatar image" style="margin-bottom: 3px">
                    <div class="content" style="margin-bottom: 3px">
                        <a href="#" th:href="@{/user/{id}(id=${blog.user.id})}" class="header"
                           th:text="${blog.user.nickname}">Zm-Mmm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-7-3</span>
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned">
                        <i class="eye icon"></i><span th:text="${blog.views}">233</span>
                    </div>
                </div>
                <div class="item">
                    <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}" class="ui blue basic label padding-mini"
                       th:text="${blog.type.name}">Java</a>
                </div>
            </div>
        </div>
        <!-- 图片 -->
        <div class="ui attached segment">
            <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" alt=""
                 class="ui fluid image">
        </div>
        <!-- 内容 -->
        <div class="ui attached segment">
            <!-- 右侧标签 -->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
            </div>

            <h2 class="ui center aligned header" th:text="${blog.title}">标题</h2>
            <!-- 文章主体 -->

            <div id="content" class="typo typo-selection js-toc-content diy-padding-left-right diy-padding-large">
                <div th:utext="${blog.content}"></div>
            </div>

            <!-- 底部标签 -->
            <div class="diy-padding-left-right">
                <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic blue up pointing label "
                   th:each="tag : ${blog.tags}" th:text="${tag.name}">
                    Java
                </a>
            </div>

            <!-- Mark -->
            <div th:if="${blog.appreciation}">
                <div class="ui center aligned basic segment">
                    <button class="ui pink basic circular button mouseClick" id="clickButton">Mark</button>
                </div>
            </div>
        </div>
        <!-- 博客信息 -->
        <div class="ui attached cool-background diy-padding-left-right-big diy-padding-large"
             th:if="${blog.shareStatement}">
            <div class="ui middle aligned grid">
                <div class="eleven wide column text-row-spacing text-spacing text-fine2">
                    <ui class="list">
                        <li style="list-style: none;">作者: <a href="#" th:href="@{/user/{id}(id=${blog.user.id})}"><span
                                th:text="${blog.user.nickname}">Zm-Mmm</span>
                        </a></li>
                        <li style="list-style: none;">更新时间: <span
                                th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2020-7-4</span></li>
                        <li style="list-style: none;">发布时间: <span
                                th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm:ss')}">2020-7-4</span></li>
                        <li style="list-style: none;">转载请在文末添加原创文章出处</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="../static/img/文末声明表情包.jpg" th:src="${blog.user.avatar}" alt=""
                         class="ui right floated rounded bordered image diy-shadow" style="width: 110px;">
                </div>
            </div>
        </div>
        <!-- 评论 -->
        <div class="ui bottom attached segment" id="bindId" th:if="${blog.comment}">
            <!-- 列表 -->
            <div class="ui blue segment" id="comment-container">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${comment.nickname}">Matt</span>
                                    <div class="ui mini basic blue left pointing label padding-mini"
                                         th:if="${comment.nickname==blog.user.nickname}">博主
                                    </div>
                                </a>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(comment.createTime,'yyyy-MM-dd a HH:mm:ss')}">今天下午 5:42</span>
                                </div>
                                <div class="text" th:text="${comment.content}">太赞了！</div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                       th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"
                                       onclick="reply(this)">回复</a>
                                    <a th:href="@{/comments/delete/{id}/{blogId}(id=${comment.id},blogId=${blog.id})}"
                                       th:if="${session.user != null && session.user.nickname == blog.user.nickname}">删除</a>
                                </div>
                            </div>
                            <!--第一级的子级-->
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="https://unsplash.it/100/100?image=1005" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">小红</span>
                                            <div class="ui mini basic blue left pointing label padding-mini"
                                                 th:if="${reply.nickname==blog.user.nickname}">博主
                                            </div>
                                            &nbsp;<span th:text="|@ ${reply.parentComment.nickname}|"
                                                        style="color: gray;">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date"
                                                  th:text="${#dates.format(reply.createTime,'yyyy-MM-dd a HH:mm:ss')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                               th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}"
                                               onclick="reply(this)">回复</a>
                                            <a th:href="@{/comments/delete/{id}/{blogId}(id=${reply.id},blogId=${blog.id})}"
                                               th:if="${session.user != null && session.user.nickname == blog.user.nickname}">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 提交 -->
            <div class="ui form" id="comment-form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论"></textarea>
                </div>
                <div class="fields">
                    <div class="field diy-margin-bottom diy-mobile-wide">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="姓名/访客不能与博主相同" name="nickname"
                                   th:value="${session.user}!=null ? ${session.user.nickname}"/>
                        </div>
                    </div>
                    <div class="field diy-margin-bottom diy-mobile-wide">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" placeholder="邮箱" name="email"
                                   th:value="${session.user}!=null ? ${session.user.email}"/>
                        </div>
                    </div>
                    <div class="field diy-mobile-wide">
                        <button class="ui green button diy-mobile-wide diy-shadow" type="button" id="commentpost-btn"><i
                                class="edit icon"></i>发布
                        </button>
                    </div>
                </div>
                <!-- 错误信息提示 -->
                <div class="ui error message"></div>
            </div>
        </div>
    </div>
</div>

<!-- 右侧滚动工具栏 -->
<div class="ui vertical icon buttons diy-fixed diy-shadow">
    <button type="button" class="ui rightmenu blue button">目录</button>
    <div id="ly-button" class="ui blue button" th:if="${blog.comment}">评论</div>
    <button class="ui mobileBrowsing icon button diy-mobile"><i class="large mobile alternate icon"></i></button>
    <div id="top-button" class="ui button"><i class="large chevron up icon"></i></div>
</div>

<!-- 预留生成目录位置 -->
<div class="ui menu-show flowing popup transition hidden" style="width: 350px;padding-right: 50px;">
    <ol class="js-toc">
    </ol>
</div>

<!-- 二维码弹出框 -->
<div id="ewm" class="ui qrcodes flowing popup transition hidden" style="width: 128px !important;"></div>

<!-- 底部 -->
<footer class="ui attached diy-shadow" style="background-color: white">
    <div class="ui container">
        <div class="ui grid center aligned">
            <div class="wide column">
                <h4 class="text-fine text-opacity2">
                    <span>Copyright © 2022 Zm-Mmm All rights reserved.</span>
                    <span>Version2.6.3</span>
                </h4>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script>
<script src="../static/js/kbn.js" th:src="@{/js/kbn.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="../static/js/prism.js" th:src="@{/js/prism.js}"></script>
<script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script src="../static/js/qrcode.min.js" th:src="@{/js/qrcode.min.js}"></script>
<script th:inline="javascript">

    /* 鼠标特效 */
    var a_idx = 0;
    jQuery(document).ready(function($) {
        $('.mouseClick').click(function(e) {
            var a = new Array(
                "666","233","牛逼","我的宝贝儿","6666666666","\\(^o^)/~","niubility","这么牛哇","动物朋友","好好好","❥(^_-)","笑拉了家人们",
                "别急","我知道你很急","23333333","Salute","∠(°ゝ°)","牛","XD","行行行行行行","好好好","牛逼","别急","23333","^_^","ლ(′◉❥◉｀ლ)",
                "**,我***","急急急","笑","66666","芝士雪豹","别吧","好！","我真服了","(#^.^#)","wow","S*","臭，真臭","嗨害嗨","牛","行！","来啦",
                "说点藏话","Sony嘛呢","急急国王","哇","小黑子","：）","(ﾉ\"◑ ◑)ﾉ\"(｡•́︿•̀｡)","别叫了","寄","只能说，8行","❤❤❤❤❤❤❤","？","你别急",
                "???????????????","干什么干什么干什么！","露出黑脚了吧小鸡子！","冲","(#`O′)","???","让我康康","♂","醉了","相位猛冲","_(:3」∠❀)_菊花碎了一地"
            );
            var $i = $("<span></span>").text(a[a_idx]);
            a_idx = (a_idx + 1) % a.length;
            var x = e.pageX,
                y = e.pageY;
            $i.css({
                "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
                "top": y - 20,
                "left": x,
                "position": "absolute",
                "font-weight": "bold",
                "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
            });
            $("body").append($i);
            $i.animate({
                    "top": y - 180,
                    "opacity": 0
                },
                1500,
                function() {
                    $i.remove();
                });
        });
    });


    // pre追加代码行号显示与自动换行
    $('pre').addClass("line-numbers").css("white-space", "pre-wrap");
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });

    // 初始化tocbot目录
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3, h4, h5',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });
    $('.rightmenu').popup({
        popup: $('.menu-show.popup'),
        on: 'click',
        position: 'left center'
    });

    // 初始化二维码生成器
    var qrcode = new QRCode("ewm", {
        text: window.location.href,
        width: 128,
        height: 128,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    $('.mobileBrowsing').popup({
        popup: $('.qrcodes'),
        position: 'left center'
    });

    $('#top-button').click(function () {
        $(window).scrollTo(0, 500);
    });

    $('#ly-button').click(function () {
        $(window).scrollTo('#bindId', 500);
    });

    //评论表单验证
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '评论不能为空'
                }]
            },
            nickname: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '姓名不能为空/访客不能与博主相同'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '邮箱不能为空'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/6");
    });


    $('#commentpost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) postData();
    });

    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"", {
            "parentComment.id": $("[name='parentComment.id']").val(),
            "detail.id": $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论");
    }


    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'), 500);
    }

    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>
