<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telphone=no, email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="ZM的个人博客，这里展示了关于我和本站的资料信息。"/>
    <title>Zm个人博客-学习编程黑科技的好地方</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <style>
        #live2dcanvas {
            border: 0 !important;
        }
    </style>
</head>
<body>
<!-- 头部 -->
<nav class="ui attached segment parent-left-style diy-shadow" style="background: rgba(0,0,0,0.7) !important;">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h3 class="ui olive header item">Zm-Mmm</h3>
            <a href="#" th:href="@{/}" class="flag item diy-mobile blue">首页</a>
            <a href="#" th:href="@{/types/-1}" class="flag item diy-mobile blue">分类</a>
            <a href="#" th:href="@{/tags/-1}" class="flag item diy-mobile blue">标签</a>
            <a href="#" th:href="@{/archives}" class="flag item diy-mobile blue">归档</a>
            <a href="#" th:href="@{/leavingmessage}" class="flag item diy-mobile blue">留言</a>
            <a href="#" th:href="@{/about}" class="flag item diy-mobile blue">关于我</a>
            <div class="right flag item diy-mobile">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon inverted input transparent">
                        <input type="text" name="query" placeholder="搜索博客" th:value="${query}"/>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
            <a href="#" class="ui index menu black icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>

<!-- 中间 -->
<div class="diy-padding-big diy-container animated bounceInUp">
    <div class="ui container">
        <div class="ui stackable grid">

            <!-- 左侧图片 -->
            <div class="nine wide column">
                <img th:src="${userinfo.avatar}" alt="" class="ui rounded image">
            </div>

            <!-- 右侧说明 -->
            <div class="five wide column">
                <!-- UUID -->
                <div class="ui top attached segment">
                    <i class="home icon"></i><span class="ui text-fine2" th:text="${userinfo.id}">1</span>
                    <div class="ui mini basic green left pointing label padding-mini">UUID</div>
                </div>
                <!-- 名字 -->
                <div class="ui attached segment">
                    <i class="user icon"></i><span class="ui text-fine2" th:text="${userinfo.nickname}">zzzzz</span>
                    <div class="ui mini basic blue left pointing label padding-mini">创作者</div>
                </div>
                <!-- 邮箱 -->
                <div class="ui attached segment">
                    <i class="mail outline icon"></i><span class="ui text-fine2"
                                                           th:text="${userinfo.email}">110@110</span>
                    <div class="ui mini basic orange left pointing label padding-mini">邮箱</div>
                </div>
                <!-- 注册日期 -->
                <div class="ui attached segment">
                    <i class="sign in icon"></i><span class="ui text-fine2"
                                                      th:text="${#dates.format(userinfo.createTime,'yyyy年MM月dd日 a')}">110@110</span>
                    <div class="ui mini basic pink left pointing label padding-mini">注册日期</div>
                </div>
                <!-- 发布博客 -->
                <div class="ui segment center aligned">
                    <i class="browser icon"></i><span class="ui text-fine2">装修中...</span>
                    <div class="ui mini basic teal left pointing label padding-mini">发布博客</div>
                </div>
                <h4 class="ui horizontal divider header diy-margin-top">社交账号</h4>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- 底部 -->
<footer class="ui vertical segment diy-padding-big" style="background: rgba(0,0,0,0.7) !important;">
    <div class="ui container">
        <div class="ui inverted divided stackable grid middle aligned center aligned">
            <div class="four wide column">
                <a href="#" th:href="@{/leavingmessage}">
                    <div class="ui blue button"><i class="comment icon"></i>提交留言</div>
                </a>
            </div>

            <div class="eight wide column">
                <h4 class="ui inverted header text-spacing text-fine text-opacity2" style="margin-bottom: 1em">
                    <br>
                    <div class="diy-margin-small">
                        网站已苟活了
                        <span id="run_time" style="color:white;"></span><br>
                    </div>
                    <span style="color:white;">Copyright © 2020 Zm-Mmm All rights reserved.</span>
                </h4>
            </div>
            <div class="four wide column">

                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1456133139&amp;site=qq&amp;menu=yes"
                   target="_blank">
                    <div class="circular ui icon button blue">
                        <i class="icon large qq"></i>
                    </div>
                </a>
                <a href="./img/wechat.png" target="_blank"
                   onclick="window.open(this.href,'','width=255,height=255,top=400,left=788');return false">
                    <div class="circular ui icon button green">
                        <i class="icon large wechat"></i>
                    </div>
                </a>
                <a href="https://gitee.com/zm_mmm" target="_blank">
                    <div class="circular ui icon button red">
                        <i class="icon large github"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script>
<script src="../static/js/kbn.js" th:src="@{/js/kbn.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    $('.wechatshow').popup({
        popup: $('.vx'),
        position: 'bottom center'
    });

    // 时间统计
    function runTime() {
        var d = new Date(), str = '';
        BirthDay = new Date("July 08,2020");
        today = new Date();
        timeold = (today.getTime() - BirthDay.getTime());
        sectimeold = timeold / 1000
        secondsold = Math.floor(sectimeold);
        msPerDay = 24 * 60 * 60 * 1000
        msPerYear = 365 * 24 * 60 * 60 * 1000
        e_daysold = timeold / msPerDay
        e_yearsold = timeold / msPerYear
        daysold = Math.floor(e_daysold);
        yearsold = Math.floor(e_yearsold);
        //str = yearsold + "年";
        str += daysold + "天";
        str += d.getHours() + '时';
        str += d.getMinutes() + '分';
        str += d.getSeconds() + '秒';
        return str;
    }

    setInterval(function () {
        $('#run_time').html(runTime())
    }, 1000);
    </script>
</body>
</html>