<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telphone=no, email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="摆烂人博客"/>
    <title th:text="${userinfo.nickname} + 个人资料">摆烂人博客</title>
    <link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/css/nav-left.css" th:href="@{/css/nav-left.css}">
    <link rel="stylesheet" href="../static/css/scrollbar.css" th:href="@{/css/scrollbar.css}">
    <style>
        #live2dcanvas {
            border: 0 !important;
        }
    </style>
</head>
<body class="body-background">
<!-- 头部 -->
<nav class="ui attached diy-shadow diy-menu">
    <div class="ui container">
        <div class="ui huge secondary menu stackable">
            <a href="#" th:href="@{/}" class="flag item diy-mobile"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="flag item diy-mobile black"><i class="map signs icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="flag item diy-mobile black"><i class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="flag item diy-mobile black"><i class="thumbtack icon"></i>归档</a>
            <a href="#" th:href="@{/leavingmessage}" class="flag item diy-mobile black"><i class="envelope icon"></i>留言</a>
            <a href="#" th:href="@{/about}" class="flag item diy-mobile black"><i class="info icon"></i>统计</a>
            <div class="right flag item diy-mobile">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon input transparent">
                        <input type="text" name="query" placeholder="搜索博客" th:value="${query}"/>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
            <div class="flag diy-mobile menu">
                <a href="#" th:href="@{/admin}" th:if="${session.user == null}"
                   class="flag item diy-mobile ui green basic button"><i class="sign-in icon"></i>登录</a>
                <div class="ui dropdown item" th:if="${session.user != null}">
                    <div class="text">
                        <img src="../../static/img/touxiang.jpg" th:src="@{${session.user.avatar}}" alt=""
                             class="ui avatar image">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/blogs}" class="item">管理博客</a>
                        <a href="#" th:href="@{/user/{id}(id=${session.user.id})}" class="item">个人资料</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
            <a href="#" class="ui index menu icon button diy-button-top-right diy-button-show item">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>
</nav>

<!-- 中间 -->
<div class="diy-padding-very diy-container animated fadeInDown">
    <div class="ui container">
        <div class="ui stackable grid">
            <!-- 左 -->
            <div class="nine wide column">
                <!--头像图片-->
                <div class="ui top attached segment diy-shadow">
                    <img th:src="${userinfo.avatar}" style="width: 500px;height: 500px" alt="" class="ui rounded image">
                </div>
                <!-- 最近更新博客 -->
                <div class="ui top attached segment diy-shadow">
                    <h3 class="ui header center aligned" th:text="${#lists.isEmpty(userLateDetail)?'暂无更新':'最近更新'}"></h3>
                </div>
                <div class="ui attached segment diy-shadow">
                    <div class="ui padded vertical segment diy-padding diy-padding-left-right"
                         th:each="blog : ${userLateDetail}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <!-- 左 -->
                            <div class=" wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                         class="color-black" th:text="${blog.title}">JUC并发编程</a></h3>
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <p class="diy-text color-black" th:text="${blog.description}">在 Java 5.0 提供了
                                        java.util.concurrent(简称JUC)包,在此包中增加了在并发编程中很常用的工具类,
                                        用于定义类似于线程的自定义子系统,包括线程池,异步 IO 和轻量级任务框架;还提供了设计用于多线程上下文中
                                        的 Collection 实现等;</p>
                                </a>
                                <div class="ui stackable grid">
                                    <!-- 左 -->
                                    <div class="twelve wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005"
                                                     th:src="@{${userinfo.avatar}}" alt="" class="ui avatar image"
                                                     style="margin-bottom: 3px">
                                                <div class="content" style="margin-bottom: 3px">
                                                    <span class="header"
                                                          th:text="${userinfo.nickname}">Zm-Mmm</span>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="middle aligned">
                                                    <i class="calendar icon"></i><span
                                                        th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2020-7-3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 右 -->
                                    <div class="right aligned four wide column middle aligned">
                                        <a href="#" th:href="@{/types/{id}(id=${blog.nameId})}"
                                           class="ui blue basic label padding-mini"
                                           th:text="${blog.name}">Java</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 右 -->
            <div class="five wide column">
                <!-- 签到 -->
                <h4 class="ui horizontal divider header" th:if="${session.user == null}"
                    style="padding-bottom: 0.5em;margin-top: 1em;">签到记录</h4>
                <a th:if="${!signByDate.today and session.user != null and session.user.id == userinfo.id}"
                   class="ui blue circular button diy-shadow" th:href="@{/sign/{id}(id=${userinfo.id})}"
                   style="width: 100%;margin-top: 1em;">每日签到</a>
                <a th:if="${signByDate.today and session.user != null and session.user.id == userinfo.id}"
                   class="ui blue circular disabled button diy-shadow" th:href="@{/sign}"
                   style="width: 100%;margin-top: 1em;">今天已经签到了</a>
                <a th:if="${!signByDate.today and session.user != null and session.user.id != userinfo.id}"
                   class="ui blue circular disabled button diy-shadow" style="width: 100%;margin-top: 1em;">对方今日未签到</a>
                <a th:if="${signByDate.today and session.user != null and session.user.id != userinfo.id}"
                   class="ui blue circular disabled button diy-shadow" style="width: 100%;margin-top: 1em;">对方今日已签到</a>
                <div class="ui top attached segment diy-shadow">
                    <i class="thumbtack icon"></i><span class="ui text-fine2 text-size"
                                                        th:text="${signByDate.count}">0</span>
                    <div class="ui mini teal basic left pointing label">本月签到次数</div>
                </div>
                <div class="ui attached segment diy-shadow">
                    <i class="calendar check icon"></i><span class="ui text-fine2" th:text="${signByDate.continuous}">0</span>
                    <div class="ui mini orange basic left pointing label">本月连续签到</div>
                </div>
                <div class="ui attached segment diy-shadow">
                    <i class="trophy icon"></i><span class="ui text-fine2"
                                                     th:text="${signByDate.allSignCountByUser}">0</span>
                    <div class="ui mini blue basic left pointing label">签到总次数</div>
                </div>
                <h4 class="ui horizontal divider header" style="padding-bottom: 0.5em;">用户资料</h4>
                <!-- 博客数量 -->
                <div class="ui attached segment diy-shadow">
                    <i class="bar chart icon"></i><span class="ui text-fine2"
                                                        th:text="${userinfo.blogCount}">20</span>
                    <div class="ui mini basic teal left pointing label padding-mini">博客数量</div>
                </div>
                <!-- 用户身份 -->
                <div class="ui attached segment diy-shadow">
                    <i class="key icon"></i>
                    <span class="ui text-fine2" th:if="${userinfo.type == 2}" style="color: darkred">管理员</span>
                    <span class="ui text-fine2" th:if="${userinfo.type == 1}">普通用户</span>
                    <div class="ui mini basic red left pointing label padding-mini">用户身份</div>
                </div>
                <!-- 名字 -->
                <div class="ui attached segment diy-shadow">
                    <i class="user icon"></i><span class="ui text-fine2" th:text="${userinfo.nickname}">zzzzz</span>
                    <div class="ui mini basic blue left pointing label padding-mini">用户名</div>
                </div>
                <!-- 邮箱 -->
                <div class="ui attached segment diy-shadow">
                    <i class="mail icon"></i><span class="ui text-fine2"
                                                   th:text="${userinfo.email}">110@110</span>
                    <div class="ui mini basic orange left pointing label padding-mini">邮箱</div>
                </div>
                <!-- 注册时间 -->
                <div class="ui attached segment diy-shadow">
                    <i class="sign in icon"></i><span class="ui text-fine2"
                                                      th:text="${#dates.format(userinfo.createTime,'yyyy年MM月dd日 HH:mm:ss')}">2000-0-0</span>
                    <div class="ui mini basic pink left pointing label padding-mini">注册时间</div>
                </div>
                <!-- 上次在线日期 -->
                <div class="ui attached segment diy-shadow">
                    <i class="plug icon"></i><span class="ui text-fine2"
                                                   th:text="${#dates.format(userinfo.updateTime,'yyyy年MM月dd日 HH:mm:ss')}">2000-0-0</span>
                    <div class="ui mini basic violet left pointing label padding-mini">上次登录</div>
                </div>

                <!-- 热门博客 -->
                <h4 class="ui horizontal divider header" style="padding-bottom: 0.5em;"
                    th:text="${#lists.isEmpty(userDetail)?'暂无热门博客':'热门博客'}">热门博客</h4>
                <div class="ui fluid vertical menu diy-shadow">
                    <a href="#" th:href="@{/blog/{id}(id=${details.id})}" target="_blank"
                       class="ui text-fine1 color-black item" th:each="details:${userDetail}">
                        <span th:text="${details.title}">Java</span>
                        <span class="ui text-fine2" th:text="${details.views}" style="float: right"></span><i
                            class="eye icon" style="float: right"></i>
                    </a>
                </div>
                <!-- 用户推荐博客 -->
                <h4 class="ui horizontal divider header" style="padding-bottom: 0.5em;"
                    th:text="${#lists.isEmpty(userRecommendDetail)?'暂无用户推荐博客':'用户推荐博客'}">用户推荐博客</h4>
                <div class="ui fluid vertical menu diy-shadow">
                    <a href="#" th:href="@{/blog/{id}(id=${userRecommendDetails.id})}" target="_blank"
                       class="ui text-fine1 color-black item" th:each="userRecommendDetails:${userRecommendDetail}">
                        <span th:text="${userRecommendDetails.title}">Java</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<footer class="ui attached diy-shadow" style="background-color: white">
    <div class="ui container">
        <div class="ui grid center aligned">
            <div class="wide column">
                <h4 class="text-fine2 text-opacity2">
                    <a href="https://beian.miit.gov.cn/" target="_blank" class="color-black">鄂ICP备2022014800号-1</a>
                    <br>
                    <span>© 2022 Zm-Mmm All rights reserved.</span><span> Version2.6.7</span>
                </h4>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script>
<script src="../static/js/kbn.js" th:src="@{/js/kbn.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    // 手机端菜单折叠
    $('.index').click(function () {
        $('.flag').toggleClass('diy-mobile');
    });
    $('.wechatshow').popup({
        popup: $('.vx'),
        position: 'bottom center'
    });
    // 注销下拉菜单
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>