<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AllBlogsDao">

    <resultMap id="findAllBlogsNotCurrentUserMap" type="BlogEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="recommend" property="recommend"/>
        <result column="published" property="published"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="views" property="views"/>
        <association property="user" javaType="UserEntity">
            <result column="nickname" property="nickname"/>
        </association>
        <association property="type" javaType="TypeEntity">
            <result column="tname" property="name"/>
        </association>
    </resultMap>

    <select id="findAllBlogsNotCurrentUser" resultMap="findAllBlogsNotCurrentUserMap">
        SELECT
            d.id,d.title,d.recommend,d.published,d.create_time,d.update_time,d.views,u.nickname,t.name tname
        FROM
            t_detail d
                JOIN
            t_type t
            ON
                d.type_id = t.id
                JOIN
            t_user u
            ON
                d.user_id = u.id
        WHERE
            d.user_id != #{id}
        ORDER BY
            d.update_time DESC
    </select>

    <update id="modifyState" >
        UPDATE
            t_detail
        SET
            published = 0
        WHERE
            id = ${id}
    </update>

</mapper>