<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DetailDao">

    <select id="selectDetailFromUserIdLimit" resultType="UserDetail">
        select d.*,t.name from t_detail d,t_type t where user_id = #{id} and t.id=d.type_id order by update_time desc
    </select>

    <select id="findAllBlogs" resultType="BlogEntity">
        SELECT
            d.id,d.title,d.update_time,d.views,d.first_picture,d.description,u.avatar as BlogUserAvatar,u.nickname as BlogUsername,t.id as typeId,t.name as typeName,u.id as userId
        FROM
            t_detail d
                JOIN
            t_user u
            ON
                d.user_id = u.id
                JOIN
            t_type t
            ON
                d.type_id = t.id
        where
            d.published = 1
        ORDER BY
            d.update_time DESC
    </select>

    <select id="findAllBlogsByType" resultType="BlogEntity">
        SELECT
            d.title,d.description,d.id,d.update_time,d.views,d.first_picture,u.id as userId,u.nickname as BlogUsername,t.id as typeId,t.name as typeName,u.avatar as BlogUserAvatar
        FROM
            t_detail d
                JOIN
            t_user u
            ON
                d.user_id = u.id
                JOIN
            t_type t
            ON
                d.type_id = t.id
        WHERE
            d.published = 1 and t.id = #{id}
        ORDER BY
            d.update_time DESC
    </select>

    <select id="findAllBlogsByTag" resultType="BlogTagQuery">
        SELECT
            d.title,d.description,d.id,d.update_time,d.views,d.first_picture,u.id as userId,u.nickname as BlogUsername,u.avatar as BlogUserAvatar,ty.id as typeId,ty.name as typeName
        FROM
            t_detail d
                JOIN
            t_user u
            ON
                d.user_id = u.id
                JOIN
            t_detail_tags dt
            ON
                d.id = dt.details_id
                JOIN
            t_type ty
            ON
                ty.id = d.type_id
        WHERE
            d.published = 1 and dt.tags_id = #{id}
        ORDER BY
            d.update_time DESC
    </select>

</mapper>