<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DetailDao">

    <resultMap id="selectDetailFromUserIdLimitMap" type="BlogEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="recommend" property="recommend"/>
        <result column="published" property="published"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="views" property="views"/>
        <association property="type" javaType="TypeEntity">
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <select id="selectDetailFromUserIdLimit" resultMap="selectDetailFromUserIdLimitMap">
        select d.id,d.title,d.recommend,d.published,d.create_time,d.update_time,d.views,t.name
        from t_detail d
                 left join t_type t on d.type_id = t.id
        where user_id = #{id}
        order by update_time desc
    </select>

    <resultMap id="AllBlogsMap" type="BlogEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="update_time" property="updateTime"/>
        <result column="views" property="views"/>
        <result column="first_picture" property="firstPicture"/>
        <result column="description" property="description"/>
        <association property="user" javaType="UserEntity">
            <id column="uid" property="id"/>
            <result column="avatar" property="avatar"/>
            <result column="nickname" property="nickname"/>
        </association>
        <association property="type" javaType="TypeEntity">
            <id column="tid" property="id"/>
            <result column="tname" property="name"/>
        </association>
    </resultMap>

    <select id="findAllBlogs" resultMap="AllBlogsMap">
        SELECT d.id,
               d.title,
               d.update_time,
               d.views,
               d.first_picture,
               d.description,
               u.id   uid,
               u.avatar,
               u.nickname,
               t.id   tid,
               t.name tname
        FROM t_detail d
                 JOIN
             t_user u
             ON
                 d.user_id = u.id
                 JOIN
             t_type t
             ON
                 d.type_id = t.id
        where d.published = 1
        ORDER BY d.update_time DESC
    </select>

    <resultMap id="findAllBlogsByTypeMap" type="BlogEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="update_time" property="updateTime"/>
        <result column="views" property="views"/>
        <result column="first_picture" property="firstPicture"/>
        <association property="user" javaType="UserEntity">
            <id column="uid" property="id"/>
            <result column="avatar" property="avatar"/>
            <result column="nickname" property="nickname"/>
        </association>
        <association property="type" javaType="TypeEntity">
            <id column="tid" property="id"/>
            <result column="tname" property="name"/>
        </association>
    </resultMap>

    <select id="findAllBlogsByType" resultMap="findAllBlogsByTypeMap">
        SELECT d.title,
               d.description,
               d.id,
               d.update_time,
               d.views,
               d.first_picture,
               u.id   uid,
               u.avatar,
               u.nickname,
               t.id   tid,
               t.name tname
        FROM t_detail d
                 JOIN
             t_user u
             ON
                 d.user_id = u.id
                 JOIN
             t_type t
             ON
                 d.type_id = t.id
        WHERE d.published = 1
          and t.id = #{id}
        ORDER BY d.update_time DESC
    </select>

    <resultMap id="findAllBlogsByTagMap" type="BlogEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="update_time" property="updateTime"/>
        <result column="views" property="views"/>
        <result column="first_picture" property="firstPicture"/>
        <association property="user" javaType="UserEntity">
            <id column="uid" property="id"/>
            <result column="nickname" property="nickname"/>
            <result column="avatar" property="avatar"/>
        </association>
        <association property="type" javaType="TypeEntity">
            <id column="tid" property="id"/>
            <result column="tname" property="name"/>
        </association>
        <collection property="tags" javaType="list" ofType="TagEntity">
            <id column="tagid" property="id"/>
            <result column="tagname" property="name"/>
        </collection>
    </resultMap>

    <select id="findAllBlogsByTag" resultMap="findAllBlogsByTagMap">
        SELECT d.title,
               d.description,
               d.id,
               d.update_time,
               d.views,
               d.first_picture,
               u.id     uid,
               u.nickname,
               u.avatar,
               t.id     tid,
               t.name   tname,
               tag.id   tagid,
               tag.name tagname
        FROM t_detail d
                 JOIN
             t_user u
             ON
                 d.user_id = u.id
                 JOIN
             t_detail_tags dt
             ON
                 d.id = dt.details_id
                 join
             t_tag tag
             on
                 dt.tags_id = tag.id
                 JOIN
             t_type t
             ON
                 t.id = d.type_id
        WHERE d.published = 1
          and dt.tags_id = #{id}
        ORDER BY d.update_time DESC
    </select>

</mapper>