<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TagDao">

    <select id="findTag" resultType="TagEntity">
        SELECT
            t.id,t.name,COUNT(dt.details_id) as BlogCount
        FROM
            t_tag t
                JOIN
            t_detail_tags dt
            ON
                t.id = dt.tags_id
                JOIN
            t_detail d
            ON
                d.id = dt.details_id
        WHERE
            d.published = 1
        GROUP BY
            t.id,t.name
        ORDER BY
            BlogCount desc
    </select>

</mapper>