<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserInfoDao">

    <select id="findUserCount" resultType="Integer">
        select count(id) from t_user
    </select>

    <select id="findUserById" resultType="UserInfo">
        select u.id, u.avatar, u.create_time, u.update_time, u.email, u.nickname, u.type, count(d.id) as blog_count
        from t_user u
                 join t_detail d on u.id = d.user_id
        where u.id = #{id}
    </select>

    <select id="findUserDetail" resultType="Detail">
        select id, title, views
        from t_detail
        where user_id = #{id}
        order by views desc limit 5
    </select>

    <update id="updateUserUpdateTime">
        update t_user
        set update_time = #{updateTime}
        where id = #{id}
    </update>

    <select id="findUserLateDetail" resultType="UserDetail">
        select
            d.id,
            d.title,
            d.update_time,
            d.description,
            t.name,
            t.id as name_id
        from
            t_detail d
        join
            t_type t
        on
            d.type_id = t.id
        where
            d.user_id = #{id}
        order by
            update_time desc
        limit 4
    </select>

    <select id="findUserRecommendDetail" resultType="UserDetail">
        select id,title from t_detail where recommend = 1 and user_id = #{id} order by create_time desc limit 5
    </select>

</mapper>